body{
    background: #FFD9D9;
    font-family: arial;
}
header{
    background: beige;
    
}
#introd{
    background: #E3B3B3;
    font-style: oblique;
}
#family{
    background: #B4EFDC;
}
#photos{
    background: #efffb6;
}
#eklesia{
	background: #A44040;
	color: #EAE0E0;
	text-align: center;
}